*
{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
}

.navbar{
    height: 80px;
    background: rgba(0, 0, 0, 0.5)
}

 .logo{
    /* margin: 10px 50px; */
    height: 60;
} 

.menu{
    float: right;
    list-style: none;
    margin: 20px
}

.menu li {
    display: inline-block;
    margin: 10px 5px
}

.menu li a{
    letter-spacing: 2px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
}

.menu li a:hover{
    color: #000;
    background: white;
}

.hdme{
    background-image: url(binary.jpg);
    background-position: cover;
    background-size: 100% auto;
    border-top: 4px solid gray; 
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    min-height: 200px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 10px 0 15px;
  }

.hdme h1{
      font-size: 4rem;
      font-weight: 100;
  }

  .hdme h2{
      margin: 5px 0;
      font-weight: 100;
      font-size: 2.7rem;
  }

.hdme *{
    position: relative;
    text-shadow: gray
}

.ido{
    background: transparent;
    position: relative;
    text-align: center;
    color: white
   /* border: 2px solid #fff */
}

.ido:hover{
    color: black;
    text-shadow: 0 0 7px red
}

.ido h1{
    font-size: 3rem;
}

.ido p{
    font-size: 2rem;
    font-weight: 100;
}

.thgs{
    background: transparent;
    position: relative;
}

.thgs p{
    font-size: 1.3rem;
    color: black;
    text-align: center;
    border: 1px solid #fff;
    text-shadow: 0 0 3px red;
}

.thgs p:hover{
    font-size: 1.3rem;
    color: #000;
    text-shadow: 0 0 3px green
}

.thgs h1{
    font-size: 1.2rem;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 7px green
    
}

.thgs h1:hover{
    color: #fff;
    text-shadow: 2px 2px 6px blue
}

.thgs h2{
    font-size: 1.1rem;
    color: black;
    text-shadow: 2px 2px 7px green;
    text-align: center;
}

.thgs h2:hover{
    color: #fff;
    text-shadow: 2px 2px 7px blue;
}

.thgs li{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.thgs li:hover{
    font-size: 20px;
    color: #000;
    text-shadow: 0 0 2px red
}

.contact{
    color: #fff;
    background: transparent;
    list-style: none;
    margin: 8px;
}

.contact li{
    display: inline-block;
    margin: 0px 5px;
}

.contact li a{
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.contact li a.discord{
    color: steelblue
}

.contact li a.steam{
    color: black;
}

.contact li a.paypal{
    color: royalblue
}

.contact li a.dbot{
    color: white
}

table{
    margin: auto;
    border: 3px solid #fff;
    border-spacing: 10px;
    text-align: center;
    position: relative;
    width: 1000px;
    height: 400px;
    top: 200px;
}

th{
    color: #fff;
    border: 3px solid #fff;
    border-spacing: 10px;
}

th:hover{
    color: black;
    background: white;
}

th a{
    text-decoration: none;
    color: lightseagreen
}

td{
    border: 3px solid #fff;
    border-spacing: 10px
}

td a{
    color: #fff;
    text-decoration: none;
}

td a img{
    height: 200px;
    width: 200px;
}

.shopinfoxd{
    top: 100px;
    color: #fff;
    text-align: center;
    position: relative;
    color: black;
    border-left: 20px solid lime;
    background-color: lightgrey;
}

.shopinfoxd h1{
    font-size: 3rem;
}

.shopinfoxd h3{
    font-size: 2rem;
}

.shopinfoxd p{
    font-size: 1.5rem;
}

.shopinfoxd p a{
    text-decoration: none;
    color: black;
}

.daprics td{
    color: lightseagreen;
}

